.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 489px;
    height: 440px;

    background: #549c97;
    border: 1px solid #000000;
    border-radius: 10px;
}

.desglose {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    width: 80%;
    height: 142px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.seccionValores {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.15px;

    color: #ffffff;

    flex: none;
    align-self: stretch;
    flex-grow: 0;

    margin-right: 20px;
}

.texto {
    margin-top: 20px;
    margin-bottom: 0px;
}

.titulo {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 23px;

    margin-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}

.seccionBotones {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombreRefresco {
    margin-right: 110px;
}

.textoDesglose {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 16px;

    margin-top: 0px;
    margin-bottom: 10px;
    color: #ffffff;
}
