.contenido {
    width: 1114px;
    height: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1114px;
    height: 402px;

    background: #549c97;
    border: 1px solid #000000;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.tarjeta {
    margin-left: 60px;
}

.button {
    margin-left: 75%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}
